    .jdgm-rev-widg__summary {
    display: none !important;
    }
    .footer-content.py-4.py-md-4.py-lg-6 .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 100%;
    }
    section#shopify-section-template--17611932664007__index_banner_grid_y3xAFX .mt-global {
    margin-top: 0px;
    }
    section#shopify-section-template--17611932664007__index_banner_grid_zTU6hj .mt-global {
    margin-top: 0;
    }
    body.shopify-theme.template-product[data-fbt-limit="6 electrical-diffuser-2"] .col-auto.shopify-payment-agree.disabled {
    display: none;
    }
    .template-product .g-4, .gx-4 {
    --bs-gutter-x: 4.5rem;
    }
    .pd_page_desc .container.show-on-scroll.is-visible {
    padding: 0;
    max-width: 100%;
    }
    .trust_icon {
    margin-top: 30px;
    }
    
    .container[data-async-reload="breadcrumbs"] {
    display: none;
    }
    .hdr-content .container {
    padding: 0px 100px;
    max-width: 100%;
    }
    .row-cols-xxxl-6>* {
    width: 23.666667%;
    }
    
    .related-product-image img {
    border-radius: 5px;
    width: 100%;
    }
    .related-product-list {
    flex-wrap: wrap;
    display: flex;
    gap: 4%;
    }
    .related-products-wrapper h5 {
    color: #b270bf;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    }
    .related-product-image {
    border-radius: 8px;
    border: 2px solid #b270bf;
    height: 95px;
    width: 96px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    }
    .related-product-name {
    margin-top: 8px;
    color: #000;
    font-size: 11px;
    text-align: center;
    display: block;
    width: 100px;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: break-word;
    overflow: hidden;
    line-height: 1;
    }
    .related-product-price {
    font-size: 12px;
    color: #000;
    }
    related-product {
    margin: 11px 0px;
    }
    .related-product-image.clicked {
    border: 2px solid red;
    }
    .related-product {
    margin: 10px 0px;
    }
    section#shopify-section-template--17611932664007__index_banner_grid_4HhTKh .row.row-cols-1.row-cols-md-2.g-3.g-md-4 {
    justify-content: center;
    display: flex;
    margin: 0 auto;
    }
    section#shopify-section-template--17611932664007__index_banner_grid_4HhTKh .row-cols-md-2>* {
    flex: 0 0 auto;
    width: 40%;
    }
    section#shopify-section-template--17611932664007__index_banner_grid_4HhTKh .mt-global {
    margin-top: 0px;
    }
    .whatapp-anchor {
    border-radius: 50%;
    right: 0;
    z-index: 99;
    bottom: 79px;
    position: fixed;
    width: 83px;
    }
    .whatapp-anchor img {
    width: 100%;
    }
    .stripe img {
    width: 100%;
    }
    section#shopify-section-template--17611932664007__1664376545051e83fe .tabs-wrap {
    display: none;
    }
    section#shopify-section-template--17611932664007__index_product_carousel_tabs_QdzKGk .tabs-wrap {
    display: none;
    }
    button#product-form-add-to-cart {
    background: black;
    margin-bottom: 10px;
    }
    a.dropdn-link.tel {
    display: none !important;
    }
    .dropdn_settings {
    display: none;
    }
    ul.flex.store-info.style1 {
    margin-top: 34px !important;
    gap: 92px;
    align-items: center;
    justify-content: space-around;
    display: flex;
    }
    section#shopify-section-template--17611932664007__a9eab091-9c17-4f1d-9c7c-16b0ab168135 a.medium-up--text-center {
    justify-content: center;
    display: flex;
    align-items: center;
    }
    .ctsm_hmicons {
    width: 60px;
    }
    section#shopify-section-template--17611932664007__a9eab091-9c17-4f1d-9c7c-16b0ab168135 .text h5 {
    font-family: Graphik Medium;
    font-size: 13px;
    }
    section#shopify-section-template--17611932664007__a9eab091-9c17-4f1d-9c7c-16b0ab168135 .text {
    margin-left: 20px;
    }
    a.medium-up--text-center {
    justify-content: center;
    display: flex;
    align-items: center;
    }
    ul.flex.store-info.style1 li{
    list-style:none;
    }
    a.medium-up--text-center .text h5 {
    color: #6b438d;
    margin: 0;
    }
    ul.flex.store-info.style1 {
    margin: 0;
    }
    .offer-text-line {
    display: flex;
    justify-content: center;
    padding: 3px;
    align-items: center;
    }
    .offer-text-line p{
    margin:0;
    }
    .offer-text-mobile{
    display:none;
    }
    .offer-text-line {
    padding: 11px 0px !important;
    }
    .offer-text-line p img {
    margin-right: 5px;
    }
    section#shopify-section-template--17611932664007__custom_liquid_c7nC4R .mt-global {
    margin-top: 0px;
    }
    section#shopify-section-template--17611932664007__17328655529203fd18 .mt-global {
    margin-top: 34px;
    }
    .chakra-stack.whatmore-css-sv-1o1t2d6{
    display:none;
    }
    div#text-offer p {
    font-size: 12px;
    }
    .brand_icon ul li p {
    color: #6b438d;
    }
    a.btn.btn--white.animate__fadeInUp.animated.animate__animated {
    color: #fff;
    width: 233px;
    height: 59px;
    background: #674088;
    }
    .nerve_image_mobile {
    display: none;
    }
    .nerve_main img {
    width: 100%;
    }
    .lookbook-popup-btn {
    background-color: #b191c3 !important;
    }
    .pdf_brand_icon ul.flex.store-info.style1 {
    padding: 0;
    gap: 0px;
    align-items: center;
    justify-content: space-between;
    }
    .pdf_brand_icon a.medium-up--text-center {
    text-align: center;
    flex-direction: column;
    }
    .pdf_brand_icon .brand_icon ul li p {
    font-size: 13px;
    color: #6b438d;
    }
    .pdf_brand_icon a.medium-up--text-center .text h5{
    font-size:12px;
    }
    .pdf_brand_icon .ctsm_hmicons {
    width: 48px;
    }
    .template-cart  div#prd-block-agreement {
    display: none;
    }
    .prd-label--sale {
    background-color: #6b438d;
    }
    sticky-addtocart.ajax-loaded .row.gx-2.gx-xl-3.sticky-add-to-cart-banners {
    display: none;
    }
    .template-product quantity-input.prd-quantity.hidden {
    display: block !important;
    }
    .page-sm-mist-spray quantity-input.prd-quantity.hidden {
    display: none !important;
    }
    
    .accessories-1 .col:last-child .prd-labels {
    display: none;
    }
    .accessories-1 .col:last-child span.btn-txt:before {
    background: #6b438d;
    position: absolute;
    content: 'Add To cart';
    }
    .accessories-1 .col:last-child span.btn-txt {
    position: relative;
    }
    h1.decription_pdfCustom {
    font-size: 21px;
    color: #6b438d;
    margin-bottom: 14px;
    }
    div#shopify-block-AOEt4UDA1YWo1V1M3Z__judge_me_reviews_preview_badge_bMcWJC {
    margin-top: -15px;
    }
    span.jdgm-star.jdgm--on:first-child {
    display: inline-block !important;
    }
    .jdgm-histogram.jdgm-temp-hidden {
    display: none !important;
    }
    .prd-block-price .prd-price {
    font-size: 21px;
    }
    div#shopify-block-AOEt4UDA1YWo1V1M3Z__judge_me_reviews_preview_badge_bMcWJC {
    margin-top: -25px;
    }
    .use_case {
    margin-bottom: -19px;
    }
    img.mobile001 {
    display: none;
    }
    .product_page_image001 img {
    width: 100%;
    }
    .product_page_image001 {
    margin-bottom: 22px;
    }
    .best_offers {
    margin: 0;
    width: 60%;
    border-radius: 36px;
    background: transparent;
    padding: 5px 20px 0;
    border: 1px solid #819ac5;
    background: #dae7ff;
    }
    .offer_box .heading-txt, .heading-txt {
    margin-bottom: 5px;
    font-size: 22px !important;
    color: #68418a !important;
    font-weight: 600 !important;
    padding-top: 10px;
    }
    .offer_detail {
    display: flex;
    align-items: center;
    border-bottom: .5px solid #9A9A9A;
    padding: 0 3px;
    }
    .offer_detail:last-child {
    border-bottom: unset !important;
    }
    .offer_icon {
    display: flex;
    }
    .offerinfo {
    display: flex;
    width: 100%;
    min-height: 30px;
    margin-left: 15px;
    }
    .offer_description {
    flex: 1;
    text-align: left;
    margin: auto;
    }
    .offers1-div {
    height: 30px;
    margin: auto !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-top: 15px;
    border-radius: 18px;
    background: #68418a;
    }
    .centralize {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    }
    .copy_offer_btn {
    text-transform: uppercase;
    color: #fff !important;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    margin-bottom: 0 !important;
    margin-left: 5px;
    margin-right: 5px;
    }
    .offerinfo svg {
    width: 14px;
    padding-left: 2px;
    }
    .offer_description p {
    color: #68418a;
    font-size: 15px;
    align-items: center;
    margin: auto 0;
    }
@media(max-width:480px){
    .prd-block-actions {
    margin-top: 19px !important;
    }
    .minicart-drop-fixed[data-slide] {
    height: auto;
    }
    .pdf_brand_icon ul.flex.store-info.style1 {
    gap: 21px;
    justify-content: space-around;
    }
    .card-category.colorize-invert .card-category-name {
    font-size: 16px;
    }
    .card-category .card-category-info span {
    font-size: 14px !important;
    }
    section#shopify-section-template--17611932664007__17328655529203fd18 .mt-global {
    margin-top: 11px;
    }
    section#shopify-section-template--17981947150535__166437667450e6e358 .row.justify-content-center.row-cols-1.row-cols-sm-2.row-cols-md-3.g-0 {
    overflow-x: scroll !important;
    justify-content: unset !important;
    flex-wrap: unset !important;
    gap: 10px;
    }
    section#shopify-section-template--17981947150535__166437667450e6e358 .lookbook-wrap {
    width: 300px !important;
    }
    .nerve_image_desktop img {
    display: none;
    }
    .nerve_image_mobile {
    display: block;
    }
    .ctsm_hmicons {
    width: 45px;
    }
    .hdr-content .container {
    padding: 0 21px;
    max-width: 100%;
    }
    main-slider .swiper-slider-container:not(.slider-fullheight-mobile)>.swiper-pagination-bullets {
    margin: -11px auto 5px 0 !important;
    }
    ul.flex.store-info.style1 {
    padding: 0 10px;
    grid-template-columns: auto auto;
    margin-top: 16px !important;
    gap: 9px;
    align-items: center;
    display: grid;
    }
    ul.flex.store-info.style1 h5 {
    font-size: 13px;
    }
    ul.flex.store-info.style1 p {
    font-size: 13px;
    }
    a.medium-up--text-center {
    justify-content: flex-start;
    }
    .row-cols-xxxl-6>* {
    width: 49.666667%;
    }
    section#shopify-section-template--17611932664007__index_banner_grid_4HhTKh .row-cols-md-2>* {
    flex: 0 0 auto;
    width: 100%;
    }
    ul.flex.store-info.style1 h5, ul.flex.store-info.style1 p {
    line-height: 17px;
    }
    .best_offers {
    width: 100%;
    }
    .offerinfo{
    margin-left: 0px;
    }
    .best_offers {
    padding: 5px 13px 0;
    }
    .offer_description p {
    line-height: 26px;
    font-size: 13px;
    }
    img.mobile001 {
    display: block;
    }
    img.desktop001 {
    display: none;
    }

}

h3.prd-name a {
    overflow: hidden;
    display: block;
    word-break: break-word;
    white-space: nowrap;
    width: 184px;
    text-overflow: ellipsis;
}
